# Ignore additional files that aren't part of the exerices to be pushed to GitHub

prep_course/exercises/introduction/exercises/ex12.rb
prep_course/exercises/introduction/files/article.csv
prep_course/exercises/introduction/files/articles.xlsx
prep_course/exercises/introduction/files/feedzilla.json
prep_course/exercises/introduction/files/simple_file.txt
prep_course/exercises/introduction/files/slashdot.xml
prep_course/exercises/introduction/flow_control/case_statement.rb
prep_course/exercises/introduction/flow_control/conditional.rb
prep_course/exercises/introduction/hashes/ex6.rb
prep_course/exercises/introduction/hashes/iterating_over_hashes.rb
prep_course/exercises/introduction/hashes/optional_parameters.rb
prep_course/exercises/introduction/loops_and_iterators/conditional_loop.rb
prep_course/exercises/introduction/loops_and_iterators/conditional_loop2.rb
prep_course/exercises/introduction/loops_and_iterators/conditional_loop_break.rb
prep_course/exercises/introduction/loops_and_iterators/conditional_loop_next.rb
prep_course/exercises/introduction/loops_and_iterators/countdown.rb
prep_course/exercises/introduction/loops_and_iterators/countdown3.rb
prep_course/exercises/introduction/loops_and_iterators/countdown4.rb
prep_course/exercises/introduction/loops_and_iterators/fibonacci.rb
prep_course/exercises/introduction/loops_and_iterators/loop_example.rb
prep_course/exercises/introduction/loops_and_iterators/next_loop.rb
prep_course/exercises/introduction/loops_and_iterators/perform_again.rb
prep_course/exercises/introduction/loops_and_iterators/practice_each.rb
prep_course/exercises/introduction/loops_and_iterators/useful_loop.rb
prep_course/exercises/introduction/methods/mutate.rb
prep_course/exercises/introduction/methods/return.rb
prep_course/exercises/introduction/methods/say.rb
prep_course/exercises/introduction/more_stuff/boolean_matchdata.rb
prep_course/exercises/introduction/more_stuff/boolean_regex.rb
prep_course/exercises/introduction/more_stuff/divide.rb
prep_course/exercises/introduction/more_stuff/exception_example.rb
prep_course/exercises/introduction/more_stuff/greet.rb
prep_course/exercises/introduction/more_stuff/greeting.rb
prep_course/exercises/introduction/more_stuff/passing_block.rb
prep_course/exercises/introduction/more_stuff/passing_proc.rb
prep_course/exercises/introduction/more_stuff/proc_example.rb
prep_course/exercises/introduction/variables/age.rb
prep_course/exercises/introduction/variables/full_name.rb
prep_course/exercises/introduction/variables/name.rb







